doctype html
html
  head
    meta(charset='UTF-8')
    title Real Time scheduling - demo
    link(href='style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript', src='rtsched.js')

  body
    form(action='', onsubmit='getData()')
      div
        table(id='input_data', class='table-fill')
          tr
            th Processi
            th(class='with-tooltip') Priorità
              //- span(class='tooltip')
              //-   | Minore è il valore, maggiore è la priorità del processo.
              //-   | Ignorato in caso di rate-monotonic.
            th T
            th WCET

          each val, index in ['a', 'b', 'c', 'd', 'e']
            tr(class='data_field')
              td(class='thread_name')= val
              td
                input(type='number', min='0', class='priority', value=index)
              td
                input(type='number', min='1', class='period')
              td
                input(type='number', min='1', class='wcet')

      fieldset(class='algorithm-selection')
        ul
        -
          var algorithms = {
            'fps': 'FPS',
            'rate-monotoic': 'FPS: rate monotonic',
            'edf': 'EDF',
          }
        each al_label, algo in algorithms
          -var al_id = 'radio-' + algo
          li
            input(id=al_id, type='radio', name='alghorithm', value=algo)
            label(for=al_id)= al_label

      fieldset(class='options-selection')
        input(id='opt-preemption', type='checkbox', value='preemption')
        label(for='opt-preemption') preemption

      button(type='submit') Via

  script.
    $(document).ready(function() {
        $('form').on('submit', function(e){
            e.preventDefault();
        });
    });
